div.nav-pf-vertical-collapsible-menus {
    top: 80px;
}
span.navbar-brand {
    margin-top: 13px!important;
    margin-bottom: 13px!important;
}
img.pf-c-avatar {
    height: 36px;
    width: 36px;
}
a#dropdownMenu1, a#dropdownMenu2 {
    line-height: 3em;
    padding-left: 21px;
}
.nav-icon-spacing {
    margin-left: 16px;
    margin-right: 8px;
}

.nav-pf-vertical.collapsed {
    width: 0px;
}

nav.navbar-pf-vertical {
    background-color: #151515;
}

.nav-pf-vertical {
    background-color: #FFF;
    border-right: unset;
    width: 290px;
    box-shadow: 12px 0px 10px -4px rgba(3, 3, 3, 0.07);
}

.nav-pf-vertical .list-group-item {
    border: unset;
}

.nav-pf-vertical .list-group-item a {
    color: #151515;
    font-size: 16px;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 8px;
    padding-left: 24px;
    height: unset;
}

.nav-pf-vertical .list-group-item a span {
    line-height: unset;
}

.nav-pf-vertical .list-group-item:hover > a {
    background-color: transparent;
    font-weight: 400;
    color: #06c;
}

.nav-pf-vertical .list-group-item.active>a {
    background-color: transparent;
    font-weight: 400;
    color: #06c;
}

.nav-pf-vertical .list-group-item:focus > a {
    background-color: transparent;
    font-weight: 400;
    color: #06c;
}

.nav-pf-vertical .list-group-item:hover > a::after {
    position: absolute;
    bottom: 0;
    left: 24px;
    width: 50px;
    height: 3px;
    content: "";
    background-color: #06c;
}

.nav-pf-vertical .list-group-item:active > a::after {
    position: absolute;
    bottom: 0;
    left: 24px;
    width: 50px;
    height: 3px;
    content: "";
    background-color: #06c;
}

.nav-pf-vertical .list-group-item.active > a::after {
    position: absolute;
    bottom: 0;
    left: 24px;
    width: 50px;
    height: 3px;
    content: "";
    background-color: #06c;
}

.nav-pf-vertical .list-group-item:focus > a::after {
    position: absolute;
    bottom: 0;
    left: 24px;
    width: 50px;
    height: 3px;
    content: "";
    background-color: #06c;
}

.nav-pf-vertical .list-group-item.active>a:before {
    background: unset;
    width: 0px;
    content: "";
}

/* remove */
.pficon-route::before {
    display: none;
    visibility: hidden;
    width: 0;
}

.layout-pf.layout-pf-fixed .container-pf-nav-pf-vertical {
    margin-left: 290px;
}

.layout-pf.layout-pf-fixed .container-pf-nav-pf-vertical.collapsed-nav {
    margin-left: 0px;
}

div.row.example-container {
    margin-top: 30px;
}
button.navbar-toggle {
    padding-top: 15px;
}
img.pf-c-avatar {
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 10px;
}
