<div pf-wizard
     title="Define new address"
     wizard-ready="deployProviderReady"
     hide-indicators="false"
     on-finish="finishedWizard()"
     on-cancel="cancelDeploymentWizard()"
     next-title="nextButtonTitle"
     next-callback="nextCallback"
     back-callback="backCallback"
     wizard-done="deployComplete || deployInProgress">
  <div pf-wizard-step step-title="Semantics" substeps="false" step-id="semantics" step-priority="0" show-review="true" show-review-details="true"
       review-template="components/addresses/pattern-review.html" next-enabled="semantics_complete" on-show="onShow">
    <div ng-controller="SemanticsController">
      <form class="form-horizontal">
        <div pf-form-group pf-label="Name" pf-label-class="col-sm-3" pf-input-class="col-sm-9" required>
          <input id="new-name"  class="form-control" name="address" ng-model="data.address" type="text" ng-change="updateName()" pf-validation="unique_address_name(input)" required/>
          <span class="help-block">The name you typed is not unique.</span>
        </div>
        <div pf-form-group pf-label="Type" pf-label-class="col-sm-3" pf-input-class="col-sm-9">
          <div ng-repeat="type in valid_address_types()">
            <div pf-form-group pf-label-class="col-sm-3" pf-input-class="col-sm-9" pf-label="{{type.name}}">
              <input id="{{type.name}}" name="type" value="{{type.name}}" ng-model="data.type" type="radio"/>
              <div style=".col-sm-9">{{type.description}}</div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div pf-wizard-step step-title="Plan" substeps="false" step-id="plan" step-priority="1" show-review="true" show-review-details="true" review-template="components/addresses/plan-review.html">
    <form class="form-horizontal">
      <div ng-repeat="plan in valid_plans()">
        <div pf-form-group pf-label-class="col-sm-3" pf-input-class="col-sm-9" pf-label="{{plan.name}}">
          <input id="{{plan.name}}" name="plan" value="{{plan.name}}" ng-model="data.plan" type="radio"/>
          <div>{{plan.description}}</div>
        </div>
      </div>
    </form>
  </div>
  <div ng-controller="SummaryController">
    <div pf-wizard-step step-title="Summary" substeps="false" step-id="review" step-priority="2" on-show="onShow">
      <div pf-wizard-review-page shown="pageShown" wizard-data="data"></div>
    </div>
  </div>
</div>
