[req]
distinguished_name = subject

[ subject ]
countryName_default = US
stateOrProvinceName_default = 
localityName_default = 
organizationName_default = EnMasse
commonName_default = enmasse-iot


[x509_ext]

subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer:always
basicConstraints = critical,CA:true
keyUsage = keyCertSign,cRLSign

[intermediate_ext]

subjectKeyIdentifier = hash
basicConstraints = critical,CA:true
keyUsage = keyCertSign,cRLSign

[san_ext]

subjectAltName = ${ENV::SAN}
subjectKeyIdentifier = hash
keyUsage = keyAgreement,keyEncipherment,digitalSignature
extendedKeyUsage = serverAuth, clientAuth