    <div id="dashboard" ng-controller="DashCtrl" class="row example-container">
        <div class="card-pf card-pf-utilization">
            <div class="card-pf-heading">
                <h2 class="card-pf-title" style="height: 17px;">
                    Breakdown by address
                </h2>
            </div>
            <div class="card-pf-body">
                <div class="row">
                    <div ng-repeat="pie in pies track by $index">
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <h3 class="card-pf-subtitle">{{pie.title}}</h3>
                            <div pf-c3-chart id="pie-chart-{{pie.name}}" config="get_chart_config(pie)" getChartCallback="pie.get_chart"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-pf-heading">
                <h2 class="card-pf-title" style="height: 17px;">
                    Totals for all addresses
                </h2>
            </div>
            <div class="card-pf-body">
                <div class="row">
                    <div ng-repeat="pie in pies track by $index">
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <h3 class="card-pf-subtitle">{{pie.title}}</h3>
                            <p class="card-pf-utilization-details">
                                <span class="card-pf-utilization-card-details-count">{{pie.current_value  | number : fractionSize}}</span>
                                <span class="card-pf-utilization-card-details-description">
                               <span class="card-pf-utilization-card-details-line-1">{{pie.detail1}}</span>
                               <span class="card-pf-utilization-card-details-line-2">{{pie.detail2}}</span>
                             </span>
                            </p>
                            <div class="chart-pf-sparkline c3" id="chart-pf-sparkline-{{pie.name}}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
              <a href="messaging-cert.pem" download>Download certificate for messaging service</a>
            </div>
        </div>
    </div>
