<div pf-wizard
     title="Define new address"
     wizard-ready="deployProviderReady"
     hide-indicators="false"
     on-finish="finishedWizard()"
     on-cancel="cancelDeploymentWizard()"
     next-title="nextButtonTitle"
     next-callback="nextCallback"
     back-callback="backCallback"
     wizard-done="deployComplete || deployInProgress">
  <div pf-wizard-step step-title="Semantics" substeps="false" step-id="semantics" step-priority="0" show-review="true" show-review-details="true"
       review-template="pattern-review.html" next-enabled="semantics_complete" on-show="onShow">
    <div ng-controller="SemanticsController">
      <form class="form-horizontal">
        <div pf-form-group pf-label="Name" required>
          <input id="new-name"  class="form-control" name="address" ng-model="data.address" type="text" ng-change="updateName()" pf-validation="unique_address_name(input)" required/>
          <span class="help-block">The name you typed is not unique.</span>
        </div>
        <div pf-form-group pf-label="Pattern">
          <input id="new-queue" name="pattern" value="queue" ng-model="data.pattern" type="radio" /> Queue &nbsp
          <input id="new-topic" name="pattern" value="topic" ng-model="data.pattern" type="radio" /> Topic &nbsp
          <input id="new-anycast" name="pattern" value="anycast" ng-model="data.pattern" type="radio" /> Anycast &nbsp
          <input id="new-multicast" name="pattern" value="multicast" ng-model="data.pattern" type="radio" /> Multicast
        </div>
        <div pf-form-group pf-label="Transactional">
          <input id="new-transactional" name="transactional" ng-model="data.transactional" type="checkbox" ng-disabled="data.pattern !== 'queue' && data.pattern !== 'topic'"/>
        </div>
      </form>
    </div>
  </div>
  <div pf-wizard-step step-title="Plan" substeps="false" step-id="plan" step-priority="1" show-review="true" show-review-details="true" review-template="plan-review.html">
    <form class="form-horizontal" ng-if="!no_plan">
      <div ng-repeat="f in valid_flavors()">
        <div pf-form-group pf-label-class="col-sm-3" pf-input-class="col-sm-8" pf-label="{{f.name}}">
          <input id="{{f.name}}" name="plan" value="{{f.name}}" ng-model="data.flavor" type="radio"/>
          <div>{{f.description}}</div>
        </div>
      </div>
      <div pf-form-group pf-label="Pooled" ng-if="data.pattern === 'queue'">
        <input id="new-pooled" name="pooled" ng-model="data.pooled" type="checkbox" ng-disabled="data.pattern !== 'queue'"/>
      </div>
    </form>
    <div ng-if="no_plan">There is no choice of plans for {{data.pattern}}.</div>
  </div>
  <div ng-controller="SummaryController">
    <div pf-wizard-step step-title="Summary" substeps="false" step-id="review" step-priority="2" on-show="onShow">
      <div pf-wizard-review-page shown="pageShown" wizard-data="data"></div>
    </div>
  </div>
</div>
