/*
 * Copyright 2020, EnMasse authors.
 * License: Apache License 2.0 (see the file LICENSE or http://apache.org/licenses/LICENSE-2.0.html).
 */

.App {
  text-align: center;
}

img.pf-c-brand {
  height: 33px;
  max-width: 190px;
}

.pf-c-page__header {
  min-height: 76px !important;
}

header.pf-c-page__header {
  background-color: #f31616;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #1966ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/*
 * override patternfly css 
*/

@media screen and (min-width: 1200px) {
  .pf-c-modal-box.pf-m-lg {
    --pf-c-modal-box--MaxWidth: 85rem;
  }
}
