/*
 * Copyright 2017 Red Hat Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
activemq {
   io.enmasse.artemis.sasl_delegation.SaslDelegatingLogin required
       hostname="${AUTHENTICATION_SERVICE_HOST}"
       port="${AUTHENTICATION_SERVICE_PORT}"
       sasl_hostname="${AUTHENTICATION_SERVICE_SASL_INIT_HOST}"
       use_tls="true"
       truststore_path="${AUTH_TRUSTSTORE_PATH}"
       truststore_password="enmasse"
       valid_cert_users="admin:admin;router:admin;broker:admin;subserv:admin"
       default_roles_authenticated="all"
       default_roles_unauthenticated="admin"
       security_settings="enmasse";
};
