#dashboard {
    margin: 4em 0.5em 0 0.5em;
}

.ui-grid-cell-right-align {
    text-align: right;
}

/* remove hidden cell menu to allow cell header text to align right */
.link-grid .ui-grid-invisible {
    display: none;
}

.list-group-item.disabled {
  display: none !important;
}

.tooltip.enmasse-tooltip .tooltip-inner {
    color: #333333;
    background-color: #fefefe;
    border: 1px solid #DDDDDD;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.tooltip.enmasse-tooltip .tooltip-arrow {
  background-color: #fefefe;
}

span.tip-block {
  display: inline;
  margin-bottom: 0;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #767676;
  padding-left: 0.5em;  /* add padding to make up for removing mdash */
}

span.tip-block:before {
  /* content: "\2014"; -- remove mdash from inline short description help text */
}

/* remove the semantics and plan heading on the wizard review page */
.wizard-pf-review-page>.wizard-pf-review-steps>ul>li>a {
  display: none;
}

/* fix the padding around the review list items since the heading was removed */
.wizard-pf-review-steps .list-group-item {
  padding: 0;
}
.wizard-pf-review-steps .wizard-pf-review-content {
  padding-top: 0;
}

a.learn-more {
  padding-left: 1em;
}

ul.tooltip-list {
  -webkit-padding-start: 20px;
}
