[enmasse]
localhost ansible_connection=local

[enmasse:vars]
namespace=enmasse-infra
multitenant=True
enable_rbac=True
api_server=True
service_catalog=True
keycloak_admin_password=admin
authentication_services=["standard"]
