.l_split_m_gutter_MarginRight {
  margin-right: 10px;
  font-size:1.5rem;
}
.l_split_m_height {
  font-size: 2.5rem;
}
.pf-c-dropdown__menu-item {
  width: 200px;
  padding: 10px 10px 10px 50px !important;
}

.l_split_m_padding {
  padding: 15px;
}
