name: PR job
env:
  DOCKER_REGISTRY: "localhost:5000"
  TAG: "latest"
  DOCKER_ORG: enmasse
  KUBERNETES_NAMESPACE: "enmasse-infra"

on: [pull_request]

jobs:
  pr_job:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master

      - name: Set version
        run: |
          echo "::set-env name=VERSION::$(grep "release.version" pom.properties| cut -d'=' -f2)"

      - name: setup-docker
        run: ./.github/scripts/setup_docker.sh

      - name: Minikube setup with registry
        uses: EnMasseProject/minikube-setup@V1.0.0
        with:
          k8s-version: 1.15.0

      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11.0.2

      - name: Setup Ruby environment with ruby-build
        uses: clupprich/ruby-build-action@v1.0.0

      - name: Install dependencies
        run: ./.github/scripts/install_dep.sh

      - name: Setup OLM
        run: ./.travis/setup-olm.sh

      - name: Build
        run: ./.github/scripts/build.sh

      - name: Collect logs
        if: failure()
        run: ./.github/scripts/collectLogs.sh

      - name: Upload artifacts
        if: failure()
        uses: actions/upload-artifact@v1.0.0
        with:
          name: unit-test-logs
          path: artifacts

      - name: Smoke tests
        run: ./.github/scripts/smoke_test.sh

      - name: OLM tests
        run: ./.github/scripts/olm_test.sh

      - name: Collect logs
        if: failure()
        run: ./.github/scripts/collectLogs.sh

      - name: Upload artifacts
        if: failure()
        uses: actions/upload-artifact@v1.0.0
        with:
          name: smoke-test-logs
          path: artifacts
