<div id="users" ng-controller="UserViewCtrl" class="row example-container">
  <div class="row card-pf col-md-12" style="height: 15px;"></div>
  <div class="row col-md-12">
    <div pf-toolbar id="userToolbar" config="toolbarConfig">
      <actions>
        <button class="btn btn-default primary-action" type="button" ng-controller="UserWizardModalController" ng-click="openUserWizard()">
          <span class="fa fa-plus"></span> Create
        </button>
        <button class="btn btn-default primary-action" type="button" ng-click="delete_user()">
          Delete
        </button>
      </actions>
    </div>
  </div>

  <div class="col-md-12 list-view-container">
    <div pf-list-view id="userListView" items="items" config="userListConfig">
      <div class="list-view-pf-description">
        <div class="list-group-item-heading">
          {{item.name}}
        </div>
      </div>
    </div>
  </div>
</div>
