<div pf-wizard
     title="Create new user"
     wizard-ready="deployProviderReady"
     hide-indicators="false"
     on-finish="finishedWizard()"
     on-cancel="cancelDeploymentWizard()"
     next-title="nextButtonTitle"
     next-callback="nextCallback"
     back-callback="backCallback"
     wizard-done="deployComplete || deployInProgress">
  <div pf-wizard-step step-title="User" substeps="false" step-id="user" step-priority="0">
    <div>
      <form class="form-horizontal">
        <div pf-form-group pf-label="Name" required>
          <input id="new-name"  class="form-control" name="name" ng-model="data.name" type="text" ng-change="updateName()" pf-validation="unique_user_name(input)" required/>
          <span class="help-block">The name you typed is not unique.</span>
        </div>
        <div pf-form-group pf-label="Password" required>
          <input id="new-password"  class="form-control" name="password" ng-model="data.password" type="password" required/>
        </div>
      </form>
    </div>
  </div>
</div>
